@charset "utf-8";

/** These are specific bulma styles for the fader component
* @remarks These styles are currently only written to work for is-large controls.*/

/* Faders do not the typical colored control border (They use a colored track and thumb instead)*/
.is-info.input[type='range'] {
    border-color: $background;
}

/* Customized range input styles*/
input[type='range'] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
    background-color: $white; /*equals to the page background*/
}
input[type='range']:focus {
    outline: none;
}

/*-- BELOW: variant for webkit (Google Chrome et al) ---*/

/* The track */
input[type='range']::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: $background;
    border-radius: $radius;
    border: 2px solid $text;
}

/* color variants to input[type='range']::-webkit-slider-runnable-track */
.is-info input[type='range']::-webkit-slider-runnable-track {
    border: 2px solid $info;
}
.is-success input[type='range']::-webkit-slider-runnable-track {
    border: 2px solid $success;
}
.is-warning input[type='range']::-webkit-slider-runnable-track {
    border: 2px solid $warning;
}
.is-danger input[type='range']::-webkit-slider-runnable-track {
    border: 2px solid $danger;
}
.is-primary input[type='range']::-webkit-slider-runnable-track {
    border: 2px solid $primary;
}
.is-link input[type='range']::-webkit-slider-runnable-track {
    border: 2px solid $link;
}

/* The Thumb*/
input[type='range']::-webkit-slider-thumb {
    border: 2px solid $text;
    height: calc(5em - 6px);
    width: calc(5em - 6px);
    border-radius: $radius;
    background: $white; /*equals to the page background*/
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -28px;
}

/* color variants to input[type='range']::-webkit-slider-thumb */
.is-info input[type='range']::-webkit-slider-thumb {
    border: 2px solid $info;
}
.is-success input[type='range']::-webkit-slider-thumb {
    border: 2px solid $success;
}
.is-warning input[type='range']::-webkit-slider-thumb {
    border: 2px solid $warning;
}
.is-danger input[type='range']::-webkit-slider-thumb {
    border: 2px solid $danger;
}
.is-primary input[type='range']::-webkit-slider-thumb {
    border: 2px solid $primary;
}
.is-link input[type='range']::-webkit-slider-thumb {
    border: 2px solid $link;
}

/* The hovering state */

input[type='range']:hover::-webkit-slider-thumb {
    background: $text;
}

/* color variants to the hovering state */
.is-info input[type='range']:hover::-webkit-slider-thumb {
    background: $info;
}
.is-success input[type='range']:hover::-webkit-slider-thumb {
    background: $success;
}
.is-warning input[type='range']:hover::-webkit-slider-thumb {
    background: $warning;
}
.is-danger input[type='range']:hover::-webkit-slider-thumb {
    background: $danger;
}
.is-primary input[type='range']:hover::-webkit-slider-thumb {
    background: $primary;
}
.is-link input[type='range']:hover::-webkit-slider-thumb {
    background: $link;
}

/* The focused, not active state */
.control input[type='range']:focus:not(:active)::-webkit-slider-runnable-track {
    box-shadow: 0 0 0 0.125em bulmaRgba($link, 0.25);
    border-color: $link;
}
input[type='range']:focus:not(:active)::-webkit-slider-thumb {
    box-shadow: 0 0 0 0.125em bulmaRgba($link, 0.25);
    border-color: $link;
}

/* color variants to the focused, not active state */

.control
    .is-info
    input[type='range']:focus:not(:active)::-webkit-slider-runnable-track {
    box-shadow: 0 0 0 0.125em bulmaRgba($info, 0.25);
    border-color: $info;
}
.is-info input[type='range']:focus:not(:active)::-webkit-slider-thumb {
    box-shadow: 0 0 0 0.125em bulmaRgba($info, 0.25);
    border-color: $info;
}
.control
    .is-success
    input[type='range']:focus:not(:active)::-webkit-slider-runnable-track {
    box-shadow: 0 0 0 0.125em bulmaRgba($success, 0.25);
    border-color: $success;
}
.is-success input[type='range']:focus:not(:active)::-webkit-slider-thumb {
    box-shadow: 0 0 0 0.125em bulmaRgba($success, 0.25);
    border-color: $success;
}
.control
    .is-warning
    input[type='range']:focus:not(:active)::-webkit-slider-runnable-track {
    box-shadow: 0 0 0 0.125em bulmaRgba($warning, 0.25);
    border-color: $warning;
}
.is-warning input[type='range']:focus:not(:active)::-webkit-slider-thumb {
    box-shadow: 0 0 0 0.125em bulmaRgba($warning, 0.25);
    border-color: $warning;
}
.control
    .is-danger
    input[type='range']:focus:not(:active)::-webkit-slider-runnable-track {
    box-shadow: 0 0 0 0.125em bulmaRgba($danger, 0.25);
    border-color: $danger;
}
.is-danger input[type='range']:focus:not(:active)::-webkit-slider-thumb {
    box-shadow: 0 0 0 0.125em bulmaRgba($danger, 0.25);
    border-color: $danger;
}
.control
    .is-primary
    input[type='range']:focus:not(:active)::-webkit-slider-runnable-track {
    box-shadow: 0 0 0 0.125em bulmaRgba($primary, 0.25);
    border-color: $primary;
}
.is-primary input[type='range']:focus:not(:active)::-webkit-slider-thumb {
    box-shadow: 0 0 0 0.125em bulmaRgba($primary, 0.25);
    border-color: $primary;
}
.control
    .is-link
    input[type='range']:focus:not(:active)::-webkit-slider-runnable-track {
    box-shadow: 0 0 0 0.125em bulmaRgba($link, 0.25);
    border-color: $link;
}
.is-link input[type='range']:focus:not(:active)::-webkit-slider-thumb {
    box-shadow: 0 0 0 0.125em bulmaRgba($link, 0.25);
    border-color: $link;
}

/*-- BELOW: variant for mozilla (Firefox) ---*/

/* The track */
input[type='range']::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: $background;
    border-radius: $radius;
    border: 2px solid $text;
}

/* color variants to input[type='range']::-moz-range-track */
.is-info input[type='range']::-moz-range-track {
    border: 2px solid $info;
}
.is-success input[type='range']::-moz-range-track {
    border: 2px solid $success;
}
.is-warning input[type='range']::-moz-range-track {
    border: 2px solid $warning;
}
.is-danger input[type='range']::-moz-range-track {
    border: 2px solid $danger;
}
.is-primary input[type='range']::-moz-range-track {
    border: 2px solid $primary;
}
.is-link input[type='range']::-moz-range-track {
    border: 2px solid $link;
}

/* The Thumb*/
input[type='range']::-moz-range-thumb {
    border: 2px solid $text;
    height: calc(5em - 6px);
    width: calc(5em - 6px);
    border-radius: $radius;
    background: $white; /*equals to the page background*/
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -28px;
}

/* color variants to input[type='range']::-moz-range-thumb */
.is-info input[type='range']::-moz-range-thumb {
    border: 2px solid $info;
}
.is-success input[type='range']::-moz-range-thumb {
    border: 2px solid $success;
}
.is-warning input[type='range']::-moz-range-thumb {
    border: 2px solid $warning;
}
.is-danger input[type='range']::-moz-range-thumb {
    border: 2px solid $danger;
}
.is-primary input[type='range']::-moz-range-thumb {
    border: 2px solid $primary;
}
.is-link input[type='range']::-moz-range-thumb {
    border: 2px solid $link;
}

/* The hovering state */

input[type='range']:hover::-moz-range-thumb {
    background: $text;
}

/* color variants to the hovering state */
.is-info input[type='range']:hover::-moz-range-thumb {
    background: $info;
}
.is-success input[type='range']:hover::-moz-range-thumb {
    background: $success;
}
.is-warning input[type='range']:hover::-moz-range-thumb {
    background: $warning;
}
.is-danger input[type='range']:hover::-moz-range-thumb {
    background: $danger;
}
.is-primary input[type='range']:hover::-moz-range-thumb {
    background: $primary;
}
.is-link input[type='range']:hover::-moz-range-thumb {
    background: $link;
}

/* The focused, not active state */
.control input[type='range']:focus:not(:active)::-moz-range-track {
    box-shadow: 0 0 0 0.125em bulmaRgba($link, 0.25);
    border-color: $link;
}
input[type='range']:focus:not(:active)::-moz-range-thumb {
    box-shadow: 0 0 0 0.125em bulmaRgba($link, 0.25);
    border-color: $link;
}

/* color variants to the focused, not active state */

.control .is-info input[type='range']:focus:not(:active)::-moz-range-track {
    box-shadow: 0 0 0 0.125em bulmaRgba($info, 0.25);
    border-color: $info;
}
.is-info input[type='range']:focus:not(:active)::-moz-range-thumb {
    box-shadow: 0 0 0 0.125em bulmaRgba($info, 0.25);
    border-color: $info;
}
.control .is-success input[type='range']:focus:not(:active)::-moz-range-track {
    box-shadow: 0 0 0 0.125em bulmaRgba($success, 0.25);
    border-color: $success;
}
.is-success input[type='range']:focus:not(:active)::-moz-range-thumb {
    box-shadow: 0 0 0 0.125em bulmaRgba($success, 0.25);
    border-color: $success;
}
.control .is-warning input[type='range']:focus:not(:active)::-moz-range-track {
    box-shadow: 0 0 0 0.125em bulmaRgba($warning, 0.25);
    border-color: $warning;
}
.is-warning input[type='range']:focus:not(:active)::-moz-range-thumb {
    box-shadow: 0 0 0 0.125em bulmaRgba($warning, 0.25);
    border-color: $warning;
}
.control .is-danger input[type='range']:focus:not(:active)::-moz-range-track {
    box-shadow: 0 0 0 0.125em bulmaRgba($danger, 0.25);
    border-color: $danger;
}
.is-danger input[type='range']:focus:not(:active)::-moz-range-thumb {
    box-shadow: 0 0 0 0.125em bulmaRgba($danger, 0.25);
    border-color: $danger;
}
.control .is-primary input[type='range']:focus:not(:active)::-moz-range-track {
    box-shadow: 0 0 0 0.125em bulmaRgba($primary, 0.25);
    border-color: $primary;
}
.is-primary input[type='range']:focus:not(:active)::-moz-range-thumb {
    box-shadow: 0 0 0 0.125em bulmaRgba($primary, 0.25);
    border-color: $primary;
}
.control .is-link input[type='range']:focus:not(:active)::-moz-range-track {
    box-shadow: 0 0 0 0.125em bulmaRgba($link, 0.25);
    border-color: $link;
}
.is-link input[type='range']:focus:not(:active)::-moz-range-thumb {
    box-shadow: 0 0 0 0.125em bulmaRgba($link, 0.25);
    border-color: $link;
}

/* HINT: Microsoft IE is not supported */
