@charset "utf-8";

/** These are specific bulma styles for the metronome app
* @remarks This uses the 'nuclear' bulmaswatch theme 
* and some specific customizations for this app
*/

// Don't use special layout on very large screens
$widescreen-enabled: false;
$fullhd-enabled: false;

// Using the bulmaswatch nuclear theme

@import '../node_modules/bulmaswatch/nuclear/_variables.scss';

// Custom Bulma modification (using the nuclear variables): Modal background color is kept dark
$modal-background-background-color: rgba($grey-lighter, 0.86);

@import '../node_modules/bulma/bulma.sass';
@import '../node_modules/bulmaswatch/nuclear/_overrides.scss';

// Custom components
@import 'bulma-button-styles.scss';
@import 'bulma-slider-styles.scss';
